body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
}
.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: whitesmoke;
  padding: 30px;
}
.display{
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  margin-bottom: 25px;
}
.controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.start-button{
  background-color: green;
}
.start-button:hover{
  background-color: rgba(0, 128, 0, 0.87);
}
.stop-button{
  background-color: red;
}
.stop-button:hover{
  background-color: rgba(255, 0, 0, 0.822);
}

.reset-button{
  background-color: lightblue;
}
.reset-button:hover{
  background-color: rgba(173, 216, 230, 0.76);
}

