body{
  background-color: black;
}

.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 4rem;
  color: white;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button{
  background-color: rgb(154, 204, 79);
}
.add-button:hover{
  background-color: rgba(154, 204, 79, 0.692);
}
.delete-button{
  background-color: rgb(204, 79, 79);
}
.delete-button:hover{
  background-color: rgba(204, 79, 79, 0.692);
}
.move-button{
  background-color: rgb(79, 148, 204);
}
.move-button:hover{
  background-color: rgba(79, 148, 204, 0.719);
}

input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: rgba(240, 240, 240, 0.973);
  margin-bottom: 10px;
  border: 3px solid rgba(214, 214, 214, 0.589);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}
.delete-button,
.move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}