body{
  background: lightblue;
  margin: 0;

  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.clock-container{
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 100vw;
}
.clock{
  color: white;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px black;
}