.welcome-message{
  font-size: 2.5em;
  background-color: rgb(0, 139, 7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}
.login-prompt{
  font-size: 2.5em;
  background-color: rgb(139, 0, 0);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}